body{
  font-family: Arial;
  font-size:10pt;
}

.title h1{
  font-size: 1.5em;
  margin: 0;
}

.title h2{
  font-size: 1.2em;
  text-align: right;
  margin: 0;
}

hr{
  border: none;
  background-color: black;
  margin: 0.25em 0;
  height: 1px;
}

.fin{
  padding-top: 3em;
}

.fin h3{
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.fin h4{
  margin: 0;
  text-align: center;
}
.choice-list{
    margin-top:1em;
}
.choice-list ol{
  padding-left: 1.5em;
}

.title{
  padding-left: 3em;
}

ol.items{
  padding-left: 2em;
}

.li-item{
  font-weight: bold;
}

.item.padre{
  padding-left: 0;
  margin-left: -2em;
}

.item.padre .description{
  font-weight: normal;
}

.item{
  page-break-inside:avoid;
  text-align:justify;
  margin-top: 2em;
  font-weight: normal;
  padding-left: 1em;
}

.page-break{
  page-break-before: always;
}

.choice>*{
  padding-left: 1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.choice .math {
  margin-bottom: 0.25em!important;
  margin-top: 0.25em!important;
}

.item .description{
  font-weight: bold;
}

.item .description.noalt > p:not(:first-child){
  font-weight: bold;
}

li.choice.resaltar {
  background-color: yellow;
}

@page{
  size: A4;
  margin: 1.3cm;
}

@page:right{
  margin-left:2.1cm ;
  margin-right: 1.5cm;
}

@page:left{
  margin-left:1.5cm ;
  margin-right: 2.1cm;
}