{% if padre %}
<div class="item padre">
  <div class="description">
  <h3>TEXTO {{ num_texto }}</h3>
  {{ description | safe }}
  </div>
</div>
{% else %}
<li class="li-item">
  <div class="item">
    <div class="description {% if ocultar_alternativas == True %}noalt{% endif %}">
    {{ description | safe }}
    </div>
    {% if ocultar_alternativas != True %}
    <div class="choice-list">
      <ol type="A">
        <li class="choice {% if resaltar_clave and (clave == 1)%}resaltar{% endif %}">{{ answer1 | safe }}</li>
        <li class="choice {% if resaltar_clave and (clave == 2)%}resaltar{% endif %}">{{ answer2 | safe }}</li>
        <li class="choice {% if resaltar_clave and (clave == 3)%}resaltar{% endif %}">{{ answer3 | safe }}</li>
        <li class="choice {% if resaltar_clave and (clave == 4)%}resaltar{% endif %}">{{ answer4 | safe }}</li>
      </ol>
    </div>
    {% endif %}
  </div>
</li>
{% endif %}
{% if salto %}
<div class="page-break"></div>
{% endif %}
{% if blanca %}
<div class="page-blanca"><h4>USE ESTE ESPACIO COMO BORRADOR.</h4></div>
{% endif %}