<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="styles.css">
    <style>
      mjx-container[jax="CHTML"][display="true"].MathJax{
        display: inline;
      }
    </style>
    {{ extra_css | safe }}
  </head>
  <body>
    <div class="content seccion-{{ num_seccion }}">
      <div class="title">
        <h1>{{ nombre | upper }} (PREGUNTAS {{ start }} a {{ end }})</h1>
        <hr>
        <h2>{{ tiempo }}</h2>
      </div>
      <ol class="items" start="{{ start }}">
      {{ items | safe }}
      </ol>
      
      <div class="fin">
        {% if not last %}
        <h3>NO PASE ADELANTE HASTA QUE SE LE INDIQUE.</h3>
        {% else %}
        <h3>FIN DE PRUEBA</h3>
        {% endif %}
        <hr>
        <h4>(Puede revisar solo las preguntas correspondientes a {{ nombre }})</h4>
      </div>
    </div>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/mml-chtml.min.js"></script>
  </body>
</html>
