<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="styles.css">
    <style>{{ styles | safe }}</style>
    {{ extra_css | safe }}
  </head>
  <body>
    <div class="content seccion-{{ num_seccion }}">
      <div class="title">
        <h1>{{ nombre | upper }} (PREGUNTAS {{ start }} a {{ end }})</h1>
        <hr>
        <h2>{{ tiempo }}</h2>
      </div>
      <ol class="items" start="{{ start }}">
      {{ items | safe }}
      </ol>
      
      <div class="fin">
        {% if not last %}
        <h3>NO PASE A LA SIGUIENTE PÁGINA HASTA QUE SE LE INDIQUE.</h3>
        {% else %}
        <h3>FIN DE PRUEBA</h3>
        {% endif %}
        <hr>
        <h4>(Puede revisar solo las preguntas correspondientes a {{ nombre }})</h4>
      </div>
    </div>
    <script>
      window.MathJax = {
	options: {
	  ignoreHtmlClass: 'tex2jax_ignore',
	  processHtmlClass: 'tex2jax_process'
	},
	tex: {
	  autoload: {
	    color: [],
	    colorv2: ['color']
	  },
	  packages: {'[+]': ['noerrors']}
	},
	loader: {
	  load: ['[tex]/noerrors']
	},
	startup: {
	  pageReady: () => {
	    return MathJax.startup.defaultPageReady().then(() => {
	      let d = document.createElement('div');
	      d.id = 'finished'
	      document.body.appendChild(d);
	    });
	  }
	}
      };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    <script>
      function getSizes(){
        let titleSize = document.querySelector('.title').getBoundingClientRect()['height'];
        let itemMarginTop = parseFloat(window.getComputedStyle(document.querySelector('.item-1'))['marginTop']);
        let itemSizes = Array.from(document.querySelectorAll('.item')).map(item=>item.getBoundingClientRect()['height'] + itemMarginTop);
        return {titleSize:titleSize,itemMarginTop:itemMarginTop,itemSizes:itemSizes};
      }
    </script>
  </body>
</html>
